<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3"><i class="icon-users"></i> Journal</h1>
</div>
<div class="wrapper-md">
    <!-- Filter -->
    <div class="panel panel-default">
        <div class="panel-heading font-bold">
            Search in journal:
        </div>
        <div class="panel-body">
            <form class="form-inline ng-pristine ng-valid" role="form">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="Search.Username" id="Username" placeholder="Enter username" required>
                </div>

                <div class="form-group">
                    <div  ng-controller="DatepickerDemoCtrl">
                        <div class="input-group w-md">
                            <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="Search.DateFrom" id="DateFrom"
                            placeholder="Date From" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                              <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                              </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                        <div  ng-controller="DatepickerDemoCtrl">
                        <div class="input-group w-md">
                            <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="Search.DateTo" is-open="opened" id="DateTo"
                            placeholder="Date To" datepicker-options="dateOptions" ng-required="true" close-text="Close" required/>
                                  <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                  </span>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-info" ng-click="getInfo();">Search</button>

            </form>
        </div>
    </div>

    <!-- Table -->
      <div ng-if="Journal.operations" class="panel panel-default">
        <div class="panel-heading">
        Users actions journal
        </div>
        <table class="table table-striped m-b-none">
          <thead>
            <tr>
                <th>Date</th>
                <th>Username</th>
                <th>Operation</th>
                <th>Content</th>
                <th>Extra</th>
                <th>SessionID</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="operation in Journal.operations">
              <td>
                {{operation.Date}}
              </td>
                <td>
                    {{operation.Username}}
                </td>
                <td>
                    {{operation.Operation}}
                </td>
                <td>
                    {{operation.Content}}
                </td>
                <td>
                    {{operation.Extra}}
                </td>
                <td>
                    {{operation.SessionID|limitTo:25}}
                </td>
            </tr>
          </tbody>
        </table>
      </div>
</div>
