<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3"><i class="icon-users"></i> Users</h1>
</div>
<div class="wrapper-md">
      <div class="panel panel-default">
        <div class="panel-heading">
        <span class="label bg-info pull-right m-t-xs">{{Users.length}} Users</span>
        Panel Users
        </div>
        <table class="table table-striped m-b-none">
          <thead>
            <tr>
              <th class="text-center">User Name</th>
              <th>Comment</th>
              <th>User's limit template</th>                 
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="user in Users">                    
              <td>
                {{user.Name}}
                <span ng-if="user.Active == true" class="label bg-success" title="Active">Active</span>
                <span ng-if="user.Active == false" class="label bg-light" title="Active">Disabled</span>
              </td>
              <td>
                {{user.Comment}}
              </td>
              <td>
                {{user.Template}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
</div>