<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3"><i class="icon-users"></i> LiveStats</h1>
</div>
<div class="wrapper-md">

    <div class="row">

        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading font-bold">
                    CPU
                </div>
                <div class="panel-body text-center">
                    <div class="inline">
                        <div id="PChartCPU" ui-jq="easyPieChart" ui-options="{
                      percent: {{(Stats.CPU|number)||0}},
                      lineWidth: 10,
                      trackColor: '#e8eff0',
                      barColor: '#fad733',
                      scaleColor: '#e8eff0',
                      size: 141,
                      lineCap: 'butt',
                      animate: 500,
                    }" class="easyPieChart" style="width: 141px; height: 141px; line-height: 141px;">
                            <div>
                                <span class="h2 m-l-sm step">{{ Stats.CPU | limitTo:4 }}</span>%
                                <div class="text text-sm">Usage</div>
                            </div>
                            <canvas width="141" height="141"></canvas></div>
                    </div>
                </div>
                <div class="panel-footer"><small>% of CPU load average</small></div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading font-bold">
                    RAM
                </div>
                <div class="panel-body text-center">
                    <div class="inline">
                        <div id="PChartRAM" ui-jq="easyPieChart" ui-options="{
                      percent: 25,
                      lineWidth: 10,
                      trackColor: '#e8eff0',
                      barColor: '#27c24c',
                      scaleColor: '#e8eff0',
                      size: 141,
                      lineCap: 'butt',
                      animate: 1000,

                    }" class="easyPieChart" style="width: 141px; height: 141px; line-height: 141px;">
                            <div>
                                <span class="h2 m-l-sm step">{{ Stats.RAM | limitTo:4 }}</span>%
                                <div class="text text-sm">Usage</div>
                            </div>
                            <canvas width="141" height="141"></canvas></div>
                    </div>
                </div>
                <div class="panel-footer"><small>% of RAM usage</small></div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading font-bold">
                    SWAP
                </div>
                <div class="panel-body text-center">
                    <div class="inline m-t m-b">
                        <div id="PChartSWAP" ui-jq="easyPieChart" ui-options="{
                      percent: 50,
                      lineWidth: 10,
                      trackColor: '#e8eff0',
                      barColor: '#23b7e5',
                      scaleColor: '#e8eff0',
                      size: 141,
                      lineCap: 'butt'
                    }" class="easyPieChart" style="width: 141px; height: 141px; line-height: 141px;">
                            <div>
                                <span class="h2 m-l-sm step">{{ Stats.SWAP | limitTo:4 }}</span>%
                                <div class="text text-sm">Usage</div>
                            </div>
                            <canvas width="141" height="141"></canvas></div>
                    </div>
                </div>
                <div class="panel-footer"><small>% of SWAP usage</small></div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading font-bold">
                    WA
                </div>
                <div class="panel-body text-center">
                    <div class="inline m-t m-b">
                        <div id="PChartWA" ui-jq="easyPieChart" ui-options="{
                      percent: 50,
                      lineWidth: 10,
                      trackColor: '#e8eff0',
                      barColor: '#23b7e5',
                      scaleColor: '#e8eff0',
                      size: 141,
                      lineCap: 'butt'
                    }" class="easyPieChart" style="width: 141px; height: 141px; line-height: 141px;">
                            <div>
                                <span class="h2 m-l-sm step">{{ Stats.WA | limitTo:4 }}</span>%
                                <div class="text text-sm">Usage</div>
                            </div>
                            <canvas width="141" height="141"></canvas></div>
                    </div>
                </div>
                <div class="panel-footer"><small>% of Disk waits</small></div>
            </div>
        </div>
    </div>


    <div class="row">
      <div class="panel-heading">
        Processes
      </div>
      <div class="table-responsive">
        <table class="table table-striped b-t b-b">
          <thead>
            <tr>
              <th><a href="#" ng-click="sortType = 'Pid'; sortReverse = !sortReverse">Pid</a></th>
              <th><a href="#" ng-click="sortType = 'CPU'; sortReverse = !sortReverse">CPU %</a></th>
              <th><a href="#" ng-click="sortType = 'Mem'; sortReverse = !sortReverse">Mem (Mb)</a></th>
              <th>Name</th>
              <th>Command</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="PS in Stats.PS | orderBy:sortType:sortReverse">
              <td>{{ PS.Pid }}</td>
              <td>{{ PS.CPU | number }}</td>
              <td>{{ PS.Mem | number }}</td>
              <td>{{ PS.Name | limitTo:25 }}</td>
              <td>{{ PS.Command |limitTo:25 }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
